body {
  background-image:
url("https://cdn.shopify.com/s/files/1/0180/2353/products/map_print_50_x_70_1024x1024@2x.jpg?v=1571262703");
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
}
div#carouselExampleControls{
  display: flex;
  justify-content: center;
  align-items: center;
}

img#london{
  display: flex;
  width: 100%;
}

t1{font-size: 60pt;
  font-family:impact;
  color: RGB(193,53,132);
  text-align: center;
}

p{
  font-size: 18pt;
  font-family: arial;
  color: RGB(42, 48, 59);
  text-align: center;
}

h3{font-size: 16pt;
  font-family: arial;
  color: RGB(42, 48, 59);
}

div.title{
  margin-top: 55px;
  display: flex;
  justify-content: center;
  min-height: 75pt;
}

div.welcome{
  display: flex;
  justify-content: center;
  min-height: 75pt;
}
